
.grid-div {
	position: relative;
}

.grid {
	border-spacing: 20px;
	border: 5px solid black;
	position: absolute;
}

.grid-col {

}

.grid-header-col, .grid-cell {
	padding: 20px;
	border: 1px solid black;
}

.grid-header-col {
	vertical-align: bottom;
}

.grid-cell {
}

.grid-move-grid {
	position: absolute;
}
