
.grid-div {
	position: relative;
}

.grid {
	border-spacing: 20px;
	border: 5px solid black;
	position: absolute;
}

.grid-col {

}

.grid-header-col, .grid-cell {
	padding: 20px;
	border: 1px solid black;
}

.grid-header-col {
	vertical-align: bottom;
}

.grid-cell {

}

.grid-row-focused {
	background-color: #333;
}

.grid-cell-focused {
	border: 1px dashed black;
}

.grid-move-grid {
	position: absolute;
}

.grid-input {
	border: 0;
	margin: 0;
	padding: 0;
	font: inherit;
}
