
.menu-table {
	display: inline-block;     /* required: don't expand to fit parent width */
	overflow: hidden;          /* required: hide header trail */
	border-collapse: collapse; /* required: separators are done with borders */
	position: absolute;        /* required: submenus are positioned manually */
	overflow: visible;         /* required: submenus are positioned outside */
	background: white;         /* required: submenus overlap parent */
	table-layout: fixed;       /* TODO: required ??? */

	font: 12px sans-serif;     /* default styling */
	width: 200px;
	border: 1px solid #999;
	box-shadow: 3px 3px 3px #999;
}

.menu-tr {
	position: relative;        /* required: submenus are anchored to item trs */
}

.menu-tr > td {
	padding: .4em;
	padding-left: .5em;
	padding-right: .5em;
}

.menu-separator-tr > td {
	height: 1em;
}
.menu-separator-tr hr {
	border: 0;
	border-top: 1px solid #ccc;
}

.menu-tr:last-child > td {
	border-bottom: 0;
}

td.menu-title-td {
	width: 100%;
	padding-left: 0;
}

.menu-tr:hover > td {
	color: white;
	background-color: #333;
	cursor: default;
}

.menu-sub-div {
}

.menu-tr:not(.enabled) > td {
	color: #999;
}

